body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Readex Pro", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  padding-inline-start: 20px;
}

/* =============== Side bar ================== */
#sidebar .navbar-toggler {
  order: 1;
}

#sidebar .navbar-brand {
  order: 2;
}

#sidebar .navbar-collapse {
  order: 3;
}

#sidebar .navbar-user {
  order: 4;
}

.custom-control-input.cell-bool {
  position: relative;
  z-index: 0;
  opacity: 1;
}

/* Scrollbar */
::-webkit-scrollbar {
  background: none;
  width: 6px;
  height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  visibility: hidden;
}

/* Handle on hover */
*:hover::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  background: rgba(124, 124, 124, 0.815);
  visibility: visible;
}

@media only screen and (max-width: 767px) {
  #sidebar .navbar-collapse {
    order: 4;
  }

  #sidebar .navbar-user {
    order: 3;
  }

  #sidebar {
    position: fixed;
    width: 100%;
  }

  .main-content {
    position: relative;
    top: 78.422px;
  }
}
